*{
    padding: 0;
    border: 0;
}

#sla{
    background-color: blue;
}

#txt{
    text-align: center;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: center;
}

#msgtxt{
    color: aliceblue;
    display: none;
}

#querobutton{
    display: none;
}
